<div class="card mb-4">
    <div class="card-header">
        {{ comment.author }}
    </div>
    <div class="card-body">
        <p class="card-text">
            {{ comment.content }}
        </p>
        <footer class="blockquote-footer">
            <cite title="Source Title"> {{ comment.created_fr }} </cite>
        </footer>
    </div>
</div>
